* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   /* margin-left: 20px;
  margin-right: 20px; */
  /* background-color: cornsilk; */
  --charcoal: #264653ff;
color: teal;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
font-size: 1rem;
}
html {
  margin-left: 10px;
  margin-right: 10px;
}
#button-search {
  margin-left: 10px;
}
.main {
margin-left: 100px;
}
#contactlist{

  margin-top: 20px;
  margin-left:  10px;
}
.contact-header {

}
#person1 {
  display: flex;
  margin-bottom: 5px;
}
#person2 {
  display: flex;
    margin-bottom: 5px;
}
#person3 {
  display: flex;
    margin-bottom: 5px;
}
#saveit{
  margin-top: 20px;
  margin-left: 250px;
  background-color: teal;
  color:white;
  font-size: 25px;
}
.emailit{
  margin-left: 20px;

}
.child-header{
  margin-left: 100px;
}
.header-row-input{
  display: flex;
  flex-direction: row;
border: 0;
  margin-left: 0px;
  padding: 5px;
  text-align:left;
}
#LOV {
display: block;
width: 400px;
}
#LOV li {
  list-style: none;
  border: 1px solid teal;
}
#button-add:enabled {
margin-left: 20px;
font-weight: bold;
color: white;
background-color: teal;
}

#button-add:disabled {
margin-left: 20px;
font-weight: bold;
color: grey;
background-color: black;
}

.button-delete{
margin-left: 50px;
}
.button-update{
margin-left: 25px;
}
.button-save{
margin-left: 25px;
}
#fn{
margin-right: 0px;
}
#em {
margin-left: 0px;
}
#full-name {
  margin-left: 35px;
  width:200px;
  text-align:left;
}
#textarea {
   margin-left: 40px;
}

.schedule-input{
  display: flex;
  flex-direction: row;
border: 1px solid teal;
  margin: 0;
  padding: 0;
  text-align:left;
  align-items: center;
  padding: 2px;
  width: 650px;
  margin-bottom: 10px;
}
.schedule-list li {
list-style-type: none;
}

.schedule-list{
  display: flex;
  /* flex-direction: row; */
display: block;
  margin: 0;
  padding: 0;
  text-align:left;
  align-items: center;
  padding: 2px;
  width: 650px;
  margin-bottom: 10px;
}

.schedule-list-item{
  display: flex;
  flex-direction: row;
border: 1px solid teal;
  margin: 0;
  padding: 0;
  text-align:left;
  align-items: center;
  padding: 2px;
  width: 650px;
  margin-bottom: 10px;
}

.schedule-input{
  display: flex;
  flex-direction: row;
border: 1px solid teal;
  margin: 0;
  padding: 0;
  text-align:left;
  align-items: center;
  padding: 2px;
  width: 650px;
  margin-bottom: 10px;
}


#new-morning {
margin-left: 40px;

}

#new-noon {
margin-left: 40px;
}

#new-evening {
margin-left: 40px;
}








#input-morning {
margin-left: 40px;

}
#input-morning-filled {
margin-left: 40px;

}
#input-noon {
margin-left: 40px;
}

#input-evening {
margin-left: 90px;
}
.child-medication-add {
  margin-left: 30px;
padding: 5px;
}
.child-morning-delete {
padding: 5px;
}
.child-update{
padding: 5px;
}




.child-morning {
  margin-left: 160px;
}
.child-noon {
  margin-left: 10px;
}
#new-med {
  width: 220px;
}
.get-med {
  width: 220px;
}
.child-medication{


  padding: 0;
  margin-right: 0px;
  border: 0;

}
.mobile {
  display: none;
}
.dt{
  color:blue;
  display: inline;
}

#message {

}
#textarea {
  display: flex;
}
.burger-color {
  color: teal;
}
/* header {
  font-weight:bold;
  font-size: 32px;

} */
#medication {
  margin-bottom: 0px;
}
.header {
  /* display: flex; */
  margin-bottom: 0px;
}
.detail{
  margin-left: 10px;
  display: flex;
}

#inputMed{
  width:400px;
  margin-left: 10px;
}
label {
  margin-left: 40px;
}
ul {
  list-style-type: none;
  /* margin-left: 20px; */
  /* padding: 0px; */

}
  #medication{

  margin-left: 10px;
  color:rgb(8, 141, 141);
  display: inline-block;
}
img{
  /* width: 32px; */
  margin-top: 18px;
  margin-left: 10px;
width: 24px;
height: 24px;
border: 10px solid red;
/* background: black; */
}
  #morning{

  margin-left: 120px;
  margin-right: 0px;
  color:rgb(8, 141, 141);
  /* display: inline-block; */
}

.child-evening {
margin-left: 10px;
}
  #noon{

  margin-left: 10px;
  color:rgb(8, 141, 141);
  /* display: inline-block; */
}



  #evening{

  margin-left: 40px;
  color:rgb(8, 141, 141);
  /* display: inline-block; */
}
   #input-evening{

  margin-left: 40px;
  color:rgb(8, 141, 141);
  /* display: inline-block; */
}


/* .container {
  display: flex;
} */
body {
  /* display: inline-block; */
}
/* .container{
  width: 90%;
  display: flex;
flex-direction: col;

} */

/* .child1 {
margin-right: 20px;
 width: 40%;
    border: 10px solid red;
}
.child2 {
    border: 10px solid blue;
    margin-right: 20px;
     width: 40%;
} */
  #list li {
max-width: 400px;

border: solid teal 1px;
}
  #addList li {
max-width: 400px;

border: solid teal 1px;
}


/* .logo {
  color: rgb(8, 141, 141);

  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
} */
nav li {
        background-color:   rgb(250 227 170);
}
.nav-links {
  display: flex;

  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  gap: 15px;
    background-color:   rgb(250 227 170);
}

nav li a:hover {
  border: 1px solid rgb(8, 141, 141);
  /* text-decoration: underline; */
}
form {
}
/* #contactUs {
  border: 2px solid teal;
  width: 50%;
} */
/* #contactUs * {
  /* display: none; */
  /* display: block;

  width: 50%; */
  /* margin: auto; */

  /* font-size: 30px; */
  /* color: rgb(8, 141, 141); */
} */

nav a {
  text-decoration: none;
  color: rgb(8, 141, 141);
}
nav ul li{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
align-content: flex-start;
       background-color: rgb(250 227 170);
      padding-left: 100px;
      /* padding-right: 40%; */

}
#credits{
  margin-top: 10px;
  display: block;
}
.footer {

   position: fixed;
   left: 0;
   bottom: 10px;
   width: 100%;
   background-color: rgb(250 227 170);
   color: white;
   text-align: center;
}

nav ul li a {
    text-decoration: none;
  color: rgb(8, 141, 141);
         background-color: rgb(250 227 170);
}
#foot a {
   text-decoration: none;
  color: rgb(8, 141, 141);
  background-color: rgb(250 227 170);
}
#foot a:hover {
  text-decoration: underline;
}

#foot{
   position: absolute;
  width: 100%;
  /* overflow:scroll; */
/* margin:auto; */
text-align: center;

  /* z-index: 10; */
  /* border: 2px solid rgb(8, 141, 141); */
  background-color: rgb(250 227 170);
  width: 100%;




}
.toggle {
  display: none;
  color: rgb(8, 141, 141);
  font-size: 30px;
}
ul #list {

}



h1 {

  color: rgb(8, 141, 141);
  display: block;
}
.fa-bars {
  display: none;
}
.home {
  margin-top: 20px;
  margin-bottom: 20px;
overflow: visible;

/* width: auto; */


color: rgb(8, 141, 141);

}
#fs-frm-inputs{
  border: none;
}

.home li {
  list-style: disc;
}
.home a {
  color:rgb(8, 141, 141)
}
/* #contactUs * {
  color:rgb(8, 141, 141);
display: flex;
} */
#btnsave {
  margin-top: 20px;
  margin-left: 275px;
}
#fullname {
  margin-left: 10px;
}
#email {
  margin-left: 10px;
}
#contact{
  display: flex;
  flex-direction: column;
}
.hideList {
  display: none;
  /* display: block; */
}
#contact h3 {

	text-align: center;
}
@media (max-width: 414px) {




 /* input #inputMed{
     display: block;
  width:75rem;
  margin-left: 40px;
} */
  .fa-bars {

    font-size: 30px;
    display: block;
    color: rgb(8, 141, 141);
    padding: 10px;
  }
  .nav-links {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  }
  .logo {
    display: flex;
    color: rgb(8, 141, 141);
    font-size: 40px;

    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}

