* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
   margin-left: 20px;
  margin-right: 20px;
  background-color: cornsilk;
  --charcoal: #264653ff;
--persian-green: #2a9d8fff;
--orange-yellow-crayola: #e9c46aff;
--sandy-brown: #f4a261ff;
--burnt-sienna: #e76f51ff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;


}
.burger-color {
  color: teal;
}
/* header {
  font-weight:bold;
  font-size: 32px;

} */
nav {
  /* font-size: 18px;
  display: flex;
  flex-flow: row; */

}

ul {
  list-style-type: none;
  margin: 25px;
  padding: 0px;

}
.logo {
  color: rgb(8, 141, 141);
  font-size: 40px;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
nav li {
        background-color:   rgb(250 227 170);;
}
.nav-links {
  display: flex;
  font-size: 30px;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  gap: 15px;

}

nav li a:hover {
  border: 1px solid rgb(8, 141, 141);
  /* text-decoration: underline; */
}
form {
}
/* #contactUs {
  border: 2px solid teal;
  width: 50%;
} */
/* #contactUs * {
  /* display: none; */
  display: block;

  width: 50%;
  /* margin: auto; */

  font-size: 30px;
  color: rgb(8, 141, 141);
} */

nav a {
  text-decoration: none;
  color: rgb(8, 141, 141);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
       background-color: rgb(250 227 170);

}
nav ul li a {
    text-decoration: none;
  color: rgb(8, 141, 141);
         background-color: rgb(250 227 170);
}
.foot a {
   text-decoration: none;
  color: rgb(8, 141, 141);
  background-color: rgb(250 227 170);
}
.foot a:hover {
  text-decoration: underline;
}
.foot{
  /* position: absolute;
  width: 100%; */
/* margin:auto; */
text-align: center;
  bottom: 10px;
  /* border: 2px solid rgb(8, 141, 141); */
  background-color: rgb(250 227 170);
  /* width: 100%;
  margin: 0 auto; */

  /* font-size: 18px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  /* justify-content: space-between; */
  /* gap: 20px; */
 margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.toggle {
  display: none;
  color: rgb(8, 141, 141);
  font-size: 30px;
}




h1 {
  margin-left: 10px;
  color: rgb(8, 141, 141);
  display: block;
}
.fa-bars {
  display: none;
}
.home {
  margin-top: 20px;
/* max-height: 83vh; */
width: auto;
/* overflow-y:scroll;
overflow-x: hidden;
scroll-behavior: smooth; */
color: rgb(8, 141, 141);

}
.home li {
  list-style: disc;
}
.home a {
  color:rgb(8, 141, 141)
}
#contact {
  color:rgb(8, 141, 141);

}
#contact h3 {

	text-align: center;
}
@media (max-width: 414px) {
  .fa-bars {

    font-size: 30px;
    display: block;
    color: rgb(8, 141, 141);
    padding: 10px;
  }
  .nav-links {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  }
  .logo {
    display: flex;
    color: rgb(8, 141, 141);
    font-size: 40px;

    width: 100%;
    text-align: center;
    margin-top: 10px;
  }
}
