* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}
.burger-color {
  color: teal;
}
/* header {
  font-weight:bold;
  font-size: 32px;

} */
nav {
  /* font-size: 18px;
  display: flex;
  flex-flow: row; */
}

ul {
  list-style-type: none;
  margin: 25px;
  padding: 0px;
}

nav li {
}
.nav-links {
  display: flex;
  font-size: 30px;
  flex-direction: row;
  justify-content: center;
  font-weight: bold;
  gap: 15px;
}

nav li a:hover {
  border: 1px solid rgb(8, 141, 141);
  /* text-decoration: underline; */
}
nav a {
  text-decoration: none;
  color: rgb(8, 141, 141);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer {
  position: absolute;
  bottom: 30px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
  gap: 20px;
  text-decoration: none;
  color: rgb(8, 141, 141);
  font-size: 30px;
}
.toggle {
  display: none;
  color: rgb(8, 141, 141);
  font-size: 30px;
}
footer a:hover {
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: rgb(8, 141, 141);
}
#bar {
  display: none;
}
h1 {
  margin-left: 10px;
  color: rgb(8, 141, 141);
  display: block;
}
@media (max-width: 414px) {
  #bar {
    font-size: 30px;
    display: inline-block;
    color: rgb(8, 141, 141);
    padding: 10px;
  }
  .nav-links {
    flex-direction: column;
  }
  .hidden--mobile {
    display: none;
  }
  .logo {
    display: inline-block;
    color: rgb(8, 141, 141);
    font-size: 30px;
    padding: 15px;
  }
}
